<div class="row">
  <div class="col s12 l7" >
    <table class="striped highlight centered" id="prioTable">
      <div class="">
        <div class="input-field col s8">
          <button id="filterStatusBtn"
            class="btn waves-light waves-effect" 
            @click="greet"
            >Filter
          </button>
          <button id="reshuffleButton"
            class="btn waves-light waves-effect" 
            @click="doReshuffle"
            >Reshuffle Prio
          </button>
          <button id="prioConfigBtn"
            class="btn waves-light waves-effect modal-trigger" 
            @click="togglePrioConfig"
            data-target="prioConfigModal"
            >Prio Configuration
          </button>

          <!-- Modal Structure -->
          <div id="prioConfigModal" class="modal" style="width: 75vw; overflow-x: hidden;">
            <div class="modal-content row">
              <div class="col s4">
                <div class="card">
                  <div class="card-content">

                    <h6 class="center-align">Auto Skip</h6>

                    <div class="row">

                      <div class="input-field col s12">
                        <textarea id="ldapTextarea" v-model="textAreaValues" class="materialize-textarea" placeholder="Ex: johndoe"></textarea>
                        <label for="ldapTextarea" class="active">LDAP(s)</label>
                      </div>

                      <div class="input-field col s6">
                        <input 
                        type="text" 
                        id="skipTimepicker" 
                        class="timepicker" 
                        placeholder="Ex: 4:00"
                        @change="changedTime"
                        >
                        <label for="skipTimepicker" class="active">Skip Schedule</label>
                      </div>
                      <div class="input-field col s6">
                        <input disabled v-bind:value="deductedSkippedTime && deductedSkippedTime != 'NaN:NaN' ? deductedSkippedTime : '00:00' " id="skippedInput" type="text" class="validate">
                        <label for="skippedInput" class="active">Skipped Time</label>
                      </div>

                      <div class="input-field col s12">
                        <select 
                        multiple 
                        id="skipMultipleSelect" 
                        @change="selectedValueChanged"
                        >
                          <option value="" disabled>Choose your option</option>
                          <option value="Morning">Morning</option>
                          <option value="Mid">Mid</option>
                          <option value="Night">Night</option>
                        </select>
                        <label>By Shift</label>
                      </div>

                    </div>
                  </div>
                  <div class="card-action">
                    <a id="autoskipSubmitBtn" @click="doSkip" class="waves-effect waves-light blue darken-1 btn" style="width: 100%; display: flex; justify-content: center;"><i class="material-icons left">send</i>Submit</a>
                  </div>
                </div>
              </div>
              <div class="col s8">
                <div class="card">
                  
                  <!-- <table>
                    <thead>
                      <tr>
                          <th>LDAP</th>
                          <th>Skip Time</th>
                          <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Alvin</td>
                        <td>6:35</td>
                        <td>
                          <button class="btn-small circle red">
                            <i class="material-icons">delete</i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Alan</td>
                        <td>6:35</td>
                        <td>
                          <button class="btn-small circle red">
                            <i class="material-icons">delete</i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Jonathan</td>
                        <td>6:35</td>
                        <td>
                          <button class="btn-small circle red">
                            <i class="material-icons">delete</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table> -->
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="input-field col s4">
          <select id="prioDurationSelect" @change="intervalChanged">
            <option value="short">Short</option>
            <option value="regular">Regular</option>
            <option value="long" selected>Long</option>
          </select>
          <label>Prio Reload Interval</label>
        </div>
      </div>
      <thead>
        <tr>
          <th 
          v-for="(header, index) in prioHeader"
          :class="{
            'hide': optionalElements.includes(index)
          }"
          >
            {{ header }}
          </th>

        </tr>
      </thead>
      <tbody style="font-size: smaller;">        
        <tr v-for="c in filteredPrio" v-bind:id="c.LDAP">
          <td 
          v-for="(k, key, index) in c"
          :class="{
            'hide': optionalElements.includes(index)
          }"
          >
           <i class='material-icons' v-if="index == 6">{{ 
             k == 'Night'
             ? 'brightness_4'
             : k == 'Morning'
                ? 'brightness_5'
                : 'brightness_6'
             }}
            </i>
            
            <div class="valign-center" v-else-if="index == 5">
              <i class="icon-btn blue-text material-icons tooltipped"
                v-bind:class="[k == 'CASES' ? 'disabled' : '']"
                data-position="top" 
                data-tooltip="CASES"
                data-action="CASES"
                v-bind:data-rowid="c.LDAP"
                @click="changeStatus">event_available</i>
              <i class="icon-btn blue-text text-darken-4 material-icons tooltipped"
                v-bind:class="[k == 'SKIP' ? 'disabled' : '']"
                data-position="top" 
                data-tooltip="SKIP"
                data-action="SKIP"
                v-bind:data-rowid="c.LDAP"
                @click="changeStatus">event_busy</i>
              <i class="icon-btn material-icons tooltipped"
                v-bind:class="[k == '' ? 'disabled' : '']"
                data-position="top" 
                data-tooltip="CLEAR"
                data-action="CLEAR"
                v-bind:data-rowid="c.LDAP"
                  @click="changeStatus"
                  >clear</i
                >
              </div>
              <span v-else>{{ k }}</span>
            </td>
          </tr>
        </tbody>
      </table> -->

    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Prio Table</span>
        <div class="actions">
          <a
            id="filterStatusBtn"
            class="waves-effect btn-flat nopadding"
            @click="greet"
          >
            <i class="material-icons">filter_list</i>
          </a>
          <a
            id="reshuffleButton"
            class="waves-effect btn-flat nopadding"
            @click="doReshuffle"
            ><i class="material-icons">shuffle</i></a
          >
          <a
            id="prioConfigBtn"
            class="waves-effect btn-flat nopadding"
            @click="togglePrioConfig"
            data-target="prioConfigModal"
            ><i class="material-icons">refresh</i></a
          >
          <a
            id=""
            class="waves-effect btn-flat nopadding"
            data-target="prioConfigModal"
            ><i class="material-icons">search</i></a
          >
        </div>
      </div>
      <table class="centered striped highlight compact" id="prioTable">
        <thead>
          <!-- <tr>
            <th
              v-for="(header, index) in prioHeader"
              :class="{
                'hide': optionalElements.includes(index)
              }"
            >
              {{ header }}
            </th>
          </tr> -->
        </thead>
        <tbody>
          <!-- <tr v-for="c in filteredPrio" v-bind:id="c.LDAP">
            <td
              v-for="(k, key, index) in c"
              :class="{
                  'hide': optionalElements.includes(index)
                }"
            >
              <i class="material-icons" v-if="index == 6"
                >{{ k == 'Night' ? 'brightness_4' : k == 'Morning' ?
                'brightness_5' : 'brightness_6' }}
              </i>

              <div class="valign-center" v-else-if="index == 5">
                <i
                  class="icon-btn blue-text material-icons tooltipped"
                  v-bind:class="[k == 'CASES' ? 'disabled' : '']"
                  data-position="top"
                  data-tooltip="CASES"
                  data-action="CASES"
                  v-bind:data-rowid="c.LDAP"
                  @click="changeStatus"
                  >event_available</i
                >
                <i
                  class="icon-btn blue-text text-darken-4 material-icons tooltipped"
                  v-bind:class="[k == 'SKIP' ? 'disabled' : '']"
                  data-position="top"
                  data-tooltip="SKIP"
                  data-action="SKIP"
                  v-bind:data-rowid="c.LDAP"
                  @click="changeStatus"
                  >event_busy</i
                >
                <i
                  class="icon-btn material-icons tooltipped"
                  v-bind:class="[k == '' ? 'disabled' : '']"
                  data-position="top"
                  data-tooltip="CLEAR"
                  data-action="CLEAR"
                  v-bind:data-rowid="c.LDAP"
                  @click="changeStatus"
                  >clear</i
                >
            </div>
           <span v-else>{{ k }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s12 l5">
    <table class="striped highlight centered" id="expiringCasesTable">
      <thead>
        <tr>
          <th 
          v-for="(header, index) in casesHeader"
          :class="{
            'hide': optionalElements.includes(index)
          }"
          >
            {{ header }}
          </th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="c in filteredCases">
          <td 
          v-for="(k, key, index) in c"
          :class="{
            'orange white-text': index == 6 && k == 'Processing',
            'red white-text': index == 6 && k == '',
            'hide': optionalElements.includes(index)
          }">
           {{ index == 1
              ? new Date(k).toLocaleString() 
              : index == 5 
                ? new Date(k).toLocaleTimeString() 
                : k
                
           }} 
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col s12">
    <table class="striped highlight centered" id="monitoringCasesTable">
      <thead>
        <tr>
          <th 
          v-for="(header, index) in casesHeader"
          :class="{
            'hide-on-med-and-down': optionalElements.includes(index)
          }"
          >
            {{ header }}
          </th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="c in cases">
          <td 
          v-for="(k, key, index) in c"
          :class="{
            'green white-text': index == 6 && k == 'Completed',
            'orange white-text': index == 6 && k == 'Processing',
            'blue white-text': index == 6 && k == 'Duplicate',
            'red white-text': index == 6 && k == '',


            'hide-on-med-and-down': optionalElements.includes(index)
          }">
           {{ index == 1
              ? new Date(k).toLocaleString() 
              : index == 5 
                ? new Date(k).toLocaleTimeString() 
                : k
                
           }} 
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="sidebar" class="col s3 hide">

    <div id="reset-filter" v-on:click="reset">
      Reset Filters
    </div>
    
    <div id="authors">
      <ul class="collection with-header">
        <li class="collection-header"><h6>Authors</h6></li>
        <a 
        class="collection-item"
        v-for="author in authors" 
        v-on:click="selectAuthor" 
        :data="author">
          {{ author }}
        </a>
      </ul>
    </div>

    <div id="tags">

      <ul class="collection with-header">
        <li class="collection-header"><h6>Tags</h6></li>
        <a class="collection-item" v-for="tag in tags" v-on:click="selectTag" :data="tag">
          {{ tag }}
        </a>
      </ul>

    </div>

  </div>


</div>